<ul>
  <%(post.comments).each do |comment|%>
  <li>
     contents : <%=comment.content %>   by : <%=(comment.user).username%>
  </li>
  <%end%>
</ul>
<form action="/comments/comment" method="POST">
   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

<input type="text" name="content">
<br>
<input type="hidden" name="postid" value="<%=post.id %>">
<input type="submit" name="submit" value="Add Comment"> 
</form>