 <% if not @notifications.nil?%>
  <% @notifications.each do |notification|%>

	<div class="noty">
 	<div class="user-pic noty-pic">
		<%= image_tag(notification.user.avatar.url(:medium),:class =>"post-user-profile-pic") %>
		</div>
<div class="noty-username">
<h3><%=notification.user.username%></h3>
	</div>
	<div class="noty-type">
		<p>liked your Post</p>
	</div> 
</div>
<%end%>
<%else%>
<div class="noty"><h4>Nothing to show,kid!!!</h4></div>
    <%end%>