*{
	box-sizing: border-box;
}

body,html{
	margin: 0;
	padding: 0;
	 font-size: 14px;
font-family: 'Source Sans Pro', sans-serif;
	background-color: #fafafa;
}
/*header begins*/
.header{
	width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    height:77px;
   display: flex;
    flex-direction:row;

}
.header-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.logos{
display: flex;
padding-top: 10px;
flex-direction: row;
}
.download{
    margin-left: 18px;
	width: 110px;
	height: 40px;
    
    

}
.homelogo{
	width: 35px;
	height: 35px;

}

.links{
    display: flex;
    flex-direction: row;

}
.users{
    
    margin-right: 10px; 
}
.newpost{
    margin-right: 10px;
}
.notifications{
margin-right: 10px;
}
.profile{
 margin-right: 10px;
}
.newpost,.users,.logout,.profile{
    color:black;
    text-decoration:none;
}
.search-bar{
   margin-left:170px;
   margin-right: 170px; 
}
.top-search {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    outline: none;
 z-index: 2;
    padding: 3px 10px 3px 26px;
}
/* header ends */


.post{
    margin-left: auto;
    margin-right: auto;
	height: auto;
	width: 600px;
    margin-top: 50px;
background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}
.post-header{
	width: 100%;
	height: 60px;
    box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.user-pic{
margin-top: 10px;
margin-left: 10px;
margin-bottom: 2px;
}
.post-user-profile-pic{
	border-radius:50%;
}
div.user-name{
    margin-left: 8px;
}
.user-name{
        color:black;
    text-decoration:none;

}

.post-image{
	width: 100%;
	overflow: hidden;
}
.like-comment-buttons{
	display: flex;
	flex-direction: row;
}
.like-button{
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
.comment-button{
	margin-top: 13px;
	width: 30px;
	height: 30px;
}
.comments{
	display: flex;
flex-direction: column;
	margin-bottom: 0px;
}
.comment-wrapper{
	height: 25px;
	display: flex;
	flex-direction: row;
}
.comment-user{
	margin-left: 15px;
}
.comment-content{
	margin-left: 10px;
	margin-top: 5px;
}
.comment-add{
	box-sizing: border-box;
	border-top:  1px solid rgba(0,0,0,.0975);

}
._2hc0g {
    background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    outline: none;
    padding: 0;
    resize:none;
 
}
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
.like-counter{
	
	margin-left: 15px;
	margin-top: -5px;
	margin-bottom: 10px;
	height: 1px;
	box-sizing: border-box;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
.posts{
	display: flex;
	flex-direction: column;
}





.like-comment-buttons{
display: flex;
flex-direction: row;	
}
.button-comment{
	margin-left: 5px;
	margin-top: 10px;
}
.like-counter{
padding-top:17px;
}
.plus-button{
    visibility: hidden;
}


/*notification CSS Starts*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px;/* Location of the box */
    right: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    position:fixed;
    right: 22.5%;
    top:8%;
    border: 1px solid #888;
    width: 30%;
    display: flex;
    flex-direction: column;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    display:none;
    font-weight: bold;
}


.noty-wrapper{
	margin-left: -423px;
    position:absolute;
    top: 70px;
    width: 500px;
    height: 196px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    background: #fff;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
    box-shadow: 0 0 5px rgba(0,0,0,.0975);
    display: block;
    white-space: normal;
    z-index: 16;
}
/* notification CSS ends*/
.noty{
	    
    display: flex;
    flex-direction: row;
        border: solid 1px #e6e6e6;
    
}
.noty-type{
	margin-top: 4px;
	margin-left:4px; 
}
.noty-pic{
	margin-right: 5px;
	margin-left: -5px;
}

._f8scm {
    background: #fff;
    border: 1px solid #e6e6e6;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    height: 24px;
   position: absolute;
   right:500px;
   top:63px; 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 24px;
    z-index: 14;

}

._f8scm, ._qfu95 {
    content: ' ';
    
}
._qfu95 {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 10px;
    height: 0;
    
    width: 0;
    z-index: 14;

}
.noty1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.noty-follow-button{
    margin-top: 2%;
    margin-right: 2%;

}
.noty1_1{

    display: flex;
    flex-direction: row;
}