// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	box-sizing: border-box;
}

body,html{
	margin: 0;
	padding: 0;
	 font-size: 14px;
font-family: 'Source Sans Pro', sans-serif;
	background-color: #fafafa;
}
.header{
	width: 100vw;
	padding-top: 10px;
align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    height: 77px;
    display: flex;
    flex-direction:row;

    
}
.logos{
display: flex;
padding-top: 10px;
flex-direction: row;
}
.download{
	width: 110px;
	height: 40px;
}
.homelogo{
	width: 35px;
	height: 35px;
	margin-left: 20vw;
	margin-right: 1vw;
}


.post{
	margin-top: 10vh;
	margin-left: 30vw;
	height: auto;
	width: 600px;
background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}
.post-header{
	width: 100%;
	height: 60px;
	display: flex;
	padding: 0px;
	flex-direction: row;
}

.user-pic{
margin-top: 10px;
margin-left: 20px;
}
.post-user-profile-pic{
	border-radius:50%;
	width: 30px;
	height: 30px;
}
.user-name{
	margin-top:-3px;
    
margin-left: 15px;
 
}
.links{
	display: flex;
	flex-direction: row;
	
}
.users{
	margin-left: 100px;
	margin-right: 20px;
}
.newpost{
	margin-left: 20px;
	margin-right: 20px;
}
.post-image{
	width: 100%;
	overflow: hidden;
}
.like-comment-buttons{
	display: flex;
	flex-direction: row;
}
.like-button{
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
.comment-button{
	margin-top: 13px;
	width: 30px;
	height: 30px;
}
.comments{
	display: flex;
flex-direction: column;
	margin-bottom: 0px;
}
.comment-wrapper{
	height: 25px;
	display: flex;
	flex-direction: row;
}
.comment-user{
	margin-left: 15px;
}
.comment-content{
	margin-left: 10px;
	margin-top: 5px;
}
.comment-add{
	border-top:  1px solid rgba(0,0,0,.0975);
	margin-top: 30px;
	padding-left: 40px;
	padding-top: 10px;
}
._2hc0g {
    background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    outline: none;
    padding: 0;
    resize: none;
    max-height: 80px;
}
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
  height: 20px;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}
.like-counter{
	
	margin-left: 15px;
	margin-top: -5px;
	margin-bottom: 10px;
	height: 1px;
	box-sizing: border-box;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
.posts{
	display: flex;
	flex-direction: column;
}

._9x5sw {
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    outline: none;
    margin-left: 170px;
    padding: 3px 10px 3px 26px;
    z-index: 2;
}
.profile-pic{
width: 160px;
height: 160px;
border-radius:50%;	
}
.user-profile-pic{
	margin-left: 30vw;
	margin-top: 70px;
}
.user-name-follow{
	display: flex;
	margin-top: 70px;
	margin-left:3vw; 
	flex-direction: row;
}
.user-info{
	display: flex;
	flex-direction: row;
}
.user-follow{
	margin-left: 20px;
	margin-top: 17px;
}
._rmr7s {
    cursor: pointer;
}
._6y2ah {
    background: 0 0;
    border-color: #dbdbdb;
    color: #262626;
}

._ah57t {
	background-color: white;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
	 font-size: 14px;
	 font-weight: 600;
font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.user-data-wrapper{
	display: flex;
	flex-direction: column;
}
.user-follow-post-stats{
	display: flex;
	margin-left: 4vw;
	flex-direction: row;
}
.user-followees{
	margin-left: 30px;
	margin-right: 30px;
}
.user-fullname-status{
	display: flex;
	flex-direction: row;
	margin-left: 4vw;
}
.user-status{
	margin-top: 5px;
	margin-left: 5px;
}
.user-own-posts{
	margin-left: 30vw;
	margin-top: 70px;
  width: 600px;
  display: grid;
  grid-gap:10px;
  grid-template-columns: repeat(3,200px);
}
.user-own-post{

}
.sample{
	width: 200px;
	height: 200px;
}

.element_pop { 
    background-color:#fff;
    border-radius:3px;
    color:#000;
    display:none; 
    width:935px;
    height:600px;
}

.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
.post-wrapper{
	display: flex;
	margin: 0;
	padding: 0;
	justify-content:flex-start;
	flex-direction: row;
}
.post-pic-name{
	display: flex;
	flex-direction: row;
}
.post-data{
	display: flex;
	flex-direction: column;
	
}
.popup-image{
	width: 600px;
	height: 600px;
     margin-right: 20px;	
}