body{
		height: 100vh;
		width:100vw;
		display: flex;
		padding-top: 7%;
		justify-content: center;
		overflow: visible;
		background-color:#fafafa; 

		#home_page_phone_image{
		padding-top:50px;
		height: 600px;
		width: auto;
		overflow: hidden;
	    }

	    #input_bar{
		display: flex;
		flex-direction: column;

				#input_form{
					display:flex;
					flex-direction: column;
					align-items:center;
						border:1px solid;
						height:550px;
						width:300px;
						border-color: #e6e6e6;
							.intersection{
								display:flex;
								justify-content:center;
								align-items:center;
								padding-top:20px;
								padding-bottom:20px;
										.line-of-intersection{
											width:90px;
											height:1px;
											background-color:#c7c7c7;
											border:0px solid #000;
										}
										h1{
											color:#999;
											font-weight: 600;
											font-size:13px;
											margin-left:15px;
											margin-right:15px;
										}
							}

						    h2{	
						    	font-size:17px;    
						    	margin-left:5%;
						    	margin-right:5%;
						    	color: #999;
    							font-weight: 600;
						    	text-align: center;
						    }
							img{
								width:200px;
							}

							.field{
							 		
							}
							.actions{
								text-align:center;
								color:blue;
							}
				}
				#input_form_sign_in{
				margin-top: 10px;
				height: 70px;
				width: 300px;
				border:1px solid;
				border-color: #e6e6e6;
				display:flex;
				justify-content:center;
				align-items:center;
							
				} 

		}
	    
}